<style>
    #filter-fields #filter-column input, #filter-drivers #filter-column input {
        border-right: none !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #filter-fields #filter-value input, #filter-drivers #driver input {
        border-left-color: #d2deee;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .el-dropdown-menu__item .el-checkbox__label {
        font-weight: normal !important;
    }

    .el-select {
        display: block !important;
    }

    .el-date-table__row .today {
        font-size: 6px;
    }

    label.el-checkbox {
        width: 100%;
    }
</style>
<template>
    <div id="app" class="col-md-12">
        <div class="row">
            <div class="col-md-3" id="map-column">
                <div data-spy="affix" :style="mapCss">
                    <gmap-map :center="centerMap" :zoom="6" :options="{mapTypeControl: false}"
                              style="width: 100%; height: 100%; position: absolute; left:0; top:0;"
                              ref="appMap">
                        <gmap-marker
                                v-for="m in contracts"
                                :position.sync="m.location.coordinates"
                                :clickable="true"
                                :draggable="false"
                                @click="toggleMapMarker(m)"
                        >
                            <gmap-info-window :opened="m.infoWindow" @closeclick="closeMarkerInfoWindow(m)">
                                <div style="width: 200px;">
                                    <a @click.prevent="onlyShowContract(m)" class="pull-right">Filter</a>
                                    <strong>{{m.number}}</strong>
                                    <ul class="list-inline" style="font-size: 11px;margin-top: 5px;">
                                        <li class="col-md-6" v-for="column in showColumns"
                                            style="padding-bottom: 8px; min-height: 52px;word-break: break-all;">
                                            <i>{{column}}</i><br/>
                                            {{getContractColumnValue(m, column)}}
                                        </li>
                                        <li class="col-md-12">
                                            <strong>{{m.location.name}} </strong><br/>
                                            {{m.location.street}} {{m.location.postal}}
                                            {{m.location.country}}
                                        </li>
                                    </ul>
                                </div>
                            </gmap-info-window>
                        </gmap-marker>
                    </gmap-map>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-5 text-right">
                        <el-select v-model="filter.types" multiple :clearable="true" placeholder="Select">
                            <el-option
                                    v-for="item in types"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </div>
                    <div class="col-md-3 text-center">
                        <el-dropdown split-button type="primary" trigger="click" id="limit-columns"
                                     @click="toggleShowColumn">
                            Toon velden
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item v-for="column in availableColumns">
                                    <el-checkbox :label="column.label" name="showColumns"
                                                 v-model="showColumns"></el-checkbox>
                                </el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="form form-horizontal" style="padding-bottom: 10px;">
                            <div class="input-group" style="float: right">
                              <span class="input-group-btn" style="float: left" v-show="date != ''">
                                <button class="btn btn-default" @click="refreshRentPlus()" type="button"><i
                                        class="fa fa-refresh"></i></button>
                              </span>
                                <el-date-picker
                                        :editable="false"
                                        v-model="date"
                                        type="date"
                                        format="dd-MM-yy"
                                        placeholder="Kies een datum"
                                        v-on:input="selectDate">
                                </el-date-picker>
                            </div><!-- /input-group -->

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" id="filter-fields">
                            <div class="col-md-4" style="padding-right: 0;">
                                <el-select clearable placeholder="Filter veld" id="filter-column"
                                           v-model="search.contracts.field">
                                    <el-option
                                            v-for="item in allColumns"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="col-md-6" style="padding-left: 0;">
                                <el-input
                                        id="filter-value"
                                        placeholder="Filter waarde"
                                        icon="plus"
                                        v-model="search.contracts.value"
                                        @click="filterByColumn"
                                        @keyup.13="filterByColumn"
                                >
                                </el-input>
                            </div>
                        </div>
                        <div class="row" v-if="filter.fields.length > 0" style="margin-top:10px">
                            <div class="col-md-11">
                                <span class="pull-left" style="padding-right: 10px;">Filter: </span>
                                <el-tag
                                        v-for="(tag, index) in filter.fields"
                                        :closable="true"
                                        type="gray"
                                        :key="index"
                                        :close-transition="false"
                                        @close="removeFieldFilter(tag)"
                                >
                                    {{getColumnLabel(tag.field)}}: {{tag.value}}
                                </el-tag>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Bonnen</h4>
                            </div>
                            <div class="col-md-12" v-for="(contract, id) in filterContracts(contracts)">
                                <contract :key="contract.id+contract.type"
                                          :index="contract.originalIndex" :columns="showColumns" :date="date"
                                          :ref="'contract.'+contract.id">
                                </contract>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <div class="row" id="filter-drivers">
                            <div class="col-md-4 col-md-offset-1" style="padding-right: 0;">
                                <el-select clearable placeholder="Filter veld" id="filter-driver"
                                           v-model="search.drivers.field">
                                    <el-option
                                            v-for="item in allDriverColumns"
                                            :label="item.label"
                                            :value="item.value">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="col-md-7" style="padding-left: 0;">
                                <el-input
                                        id="filter-driver"
                                        placeholder="Filter waarde"
                                        icon="plus"
                                        v-model="search.drivers.value"
                                        @click="filterByDriverColumn"
                                        @keyup.13="filterByDriverColumn">
                                </el-input>
                            </div>
                        </div>
                        <div class="row" v-if="filter.driverFields.length > 0" style="margin-top:10px">
                            <div class="col-md-12">
                                <span class="pull-left" style="padding-right: 10px;">Filter: </span>
                                <el-tag
                                        v-for="(tag, index) in filter.driverFields"
                                        :closable="true"
                                        type="gray"
                                        :key="index"
                                        :close-transition="false"
                                        @close="removeDriverFilter(tag)"
                                >
                                    {{getDriverColumnLabel(tag.field)}}: {{tag.value}}
                                </el-tag>
                            </div>
                        </div>
                        <div class="row" style="position: fixed; width: 31%;">
                            <div class="col-md-12">
                                <h4>Chauffeurs</h4>
                            </div>
                            <div class="col-md-12" style="overflow-y: scroll;max-height: 570px;">
                                <driver v-for="(driver, index) in filterDrivers(drivers)" :driver="driver"
                                        :columns="showColumns"
                                        :date="date" :index="driver.originalIndex" :ref="'drivers.'+driver.id">
                                </driver>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-md-7">

            </div>
            <div class="col-md-4 col-md-offset-1">

            </div>

        </div><!-- row -->
    </div>
</template>
<script>
    import Contract from './components/Contract.vue';
    import Driver from './components/Driver.vue';
    import {Loading} from 'element-ui';
    import {Notification} from 'element-ui';

    export default {
        name: 'app',
        components: {
            contract: Contract,
            driver: Driver
        },
        mounted() {
            this.drivers = window.drivers;

            // Format for auto complete
            this.drivers.forEach((driver, index) => {
                driver.value = driver.plate + ' (' + driver.fleet + ')';
                driver.originalIndex = index;
            });

            this.$echo.channel('rentplus').listen('RefreshRentPlus', (e) => {
                switch (e.status) {
                    case 'started':
                        this.$notify({
                            title: 'Rent+ refresh',
                            message: 'De server is begonnen met de bestelbonnen opnieuw op te halen voor ' + e.date,
                            type: 'info',
                            showClose: true,
                            duration: 5000
                        });
                        break;
                    case 'empty':
                        this.$notify({
                            title: 'Rent+ refresh',
                            message: 'Er zijn geen bons gevonden voor ' + e.date,
                            type: 'alert',
                            showClose: true,
                            duration: 5000
                        });
                        break;
                    case 'completed':
                        this.$notify({
                            title: 'Rent+ refresh',
                            message: 'Bestelbonnen zijn opnieuw opgehaald voor ' + e.date,
                            type: 'success',
                            showClose: true,
                            duration: 5000
                        });
                        // refresh
                        this.selectDate(this.date);
                        break;
                    case 'failed':
                        this.$notify({
                            title: 'Rent+ refresh',
                            message: 'Er ging iets mis met het ophalen van de bestelbonnen voor ' + e.date,
                            type: 'error',
                            showClose: true,
                            duration: 5000
                        });
                        break;
                    case 'customers.missing':
                        const contracts = e.faultyContracts.join(', ');
                        this.$notify({
                            title: 'Rent+ refresh',
                            message: (e.faultyContracts.length > 1) ? 'Er waren bestelbonnen zonder toegewezen klant: ' + contracts : 'Er was een contract zonder toegewezen klant: ' + contracts,
                            type: 'alert',
                            showClose: true,
                            duration: 5000
                        });
                        break;
                }
            });

            this.$echo.channel('rentplus').listen('FinishDriverSync', (e) => {
                switch (e.status) {
                    case 'success':
                        this.$notify({
                            title: 'Planning Synchronisatie',
                            message: 'De planning voor ' + e.driver + ' (' + e.date + ') is succesvol verwerkt.',
                            type: 'success',
                            showClose: true,
                            duration: 5000
                        });
                        break;
                    case 'error':
                        this.$notify({
                            title: 'Planning Synchronisatie',
                            message: 'Er ging iets mis met planning voor ' + e.driver + ' (' + e.date + '). Neem contact op met commefort.',
                            type: 'error',
                            showClose: true,
                            duration: 5000
                        });
                        break;

                    case 'error.driver':
                        this.$notify({
                            title: 'Planning Synchronisatie',
                            message: 'Er ging iets mis met planning voor ' + e.driver + ' (' + e.date + '). Deze wagen staat op inactief.<br /> Ververs de pagina.',
                            type: 'error',
                            showClose: true,
                            duration: 5000
                        });
                        break;
                }
            })

            $('#filter-value input').on('keypress', (e) => {
                if(e.which == 13)
                {
                    this.filterByColumn();
                }
            });
            $('#filter-driver input').on('keypress', (e) => {
                if(e.which == 13)
                {
                    this.filterByDriverColumn();
                }
            });
        },
        data() {
            return {
                centerMap: {lat: 50.788140, lng: 4.350586},
                contracts: [],
                drivers: [],
                date: '',
                filter: {
                    types: ['delivery', 'pickup', 'planned'],
                    fields: [],
                    driverFields: []
                },
                search: {
                    contracts: {
                        field: '',
                        value: '',
                    },
                    drivers: {
                        field: '',
                        value: '',
                    }
                },
                selectedContracts: [],
                allColumns: [
                    {label: 'Bon nummer', value: 'number'},
                    {label: 'Klant', value: 'customer.key'},
                    {label: 'Klant email', value: 'customer.email'},
                    {label: 'Klant telefoon', value: 'customer.phone'},
                    {label: 'Contact persoon', value: 'contact.person'},
                    {label: 'Contact telefoon', value: 'contact.phone'},
                    {label: 'Locatie', value: 'location.name'},
                    {label: 'Straat', value: 'location.street'},
                    {label: 'Gemeente', value: 'location.postal'},
                    {label: 'Land', value: 'location.country'}
                ],
                availableColumns: [
                    {label: 'Klant email', value: 'customer.email'},
                    {label: 'Klant telefoon', value: 'customer.phone'},
                    {label: 'Contact persoon', value: 'contact.person'},
                    {label: 'Contact telefoon', value: 'contact.phone'}
                ],
                showColumns: [],
                allDriverColumns: [
                    {label: 'Nummerplaat', value: 'plate'},
                    {label: 'Fleet', value: 'fleet'},
                ],
                types: [
                    {value: 'delivery', label: 'Levering'},
                    {value: 'pickup', label: 'Ophaling'},
                    {value: 'planned', label: 'Gepland'}
                ],
                duplicates: []
            };
        },
        computed: {
            dateFormat(){
                if (this.date == '' || typeof this.date == 'undefined')
                    return '';

                const day = (this.date.getDate() < 10) ? '0' + this.date.getDate() : this.date.getDate();
                const month = (this.date.getMonth() < 9) ? '0' + (this.date.getMonth() + 1) : this.date.getMonth() + 1;
                const year = this.date.getFullYear();

                return day + '-' + month + '-' + year;
            },
            mapCss(){
                this.date;

                const show = (typeof $('#map-column').width() != 'undefined') ? 'block' : 'none';
                return {
                    display: show,
                    width: String($('#map-column').width()) + 'px',
                    height: String(window.innerHeight * 0.9) + 'px',
                    padding: 0,
                    'margin-left': '-15px',
                    'margin-right': '-15px'
                };
            }
        },
        methods: {
            closeMarkerInfoWindow(contract){
                contract.infoWindow = false;
            },
            toggleMapMarker(contract){
                contract.infoWindow = !contract.infoWindow;
            },
            onlyShowContract(contract){
                this.filter.fields.push({
                        field: 'number',
                        value: contract.number
                    });

                this.$nextTick(() => {
                    this.fitMap();
                });
            },
            getContractColumnValue(contract, key) {
                return _.get(contract, _.find(this.allColumns, ['label', key]).value);
            },
            toggleShowColumn(){
                // If even one column was selected, deselect all
                if (this.showColumns.length > 0) {
                    this.showColumns = [];
                    return;
                }

                // Select all available columns
                this.availableColumns.forEach((c) => {
                    this.showColumns.push(c.label);
                });
            },
            getColumnLabel(key) {
                return _.find(this.allColumns, ['value', key]).label
            },
            getDriverColumnLabel(key) {
                return _.find(this.allDriverColumns, ['value', key]).label
            },
            getContractColumnValue(contract, key) {
                return _.get(contract, _.find(this.allColumns, ['label', key]).value);
            },
            filterByColumn() {
                if (this.search.contracts.field == '' || typeof this.search.contracts.field === 'undefined') {
                    this.$message.error('U hebt geen veld gespecifieerd om de bonnen te filteren');
                }
                else if (this.search.contracts.value == '' || typeof this.search.contracts.value === 'undefined') {
                    this.$message.error('U hebt geen waarde gespecifieerd om de bonnen te filteren');
                }
                else {
                    this.filter.fields.push({
                        field: this.search.contracts.field,
                        value: this.search.contracts.value
                    });
                    this.search.contracts.field = '';
                    this.search.contracts.value = '';
                }

                this.$nextTick(() => {
                    this.fitMap();
                });
            },
            filterByDriverColumn() {
                if (this.search.drivers.field == '' || typeof this.search.drivers.field === 'undefined') {
                    this.$message.error('U hebt geen veld gespecifieerd om de chauffeurs te filteren');
                }
                else if (this.search.drivers.value == '' || typeof this.search.drivers.value === 'undefined') {
                    this.$message.error('U hebt geen waarde gespecifieerd om de chauffeurs te filteren');
                }
                else {
                    this.filter.driverFields.push({
                        field: this.search.drivers.field,
                        value: this.search.drivers.value
                    });
                    this.search.drivers.field = '';
                    this.search.drivers.value = '';
                }
            },
            removeFieldFilter(tag) {
                this.filter.fields.splice(this.filter.fields.indexOf(tag), 1);

                // Pre-fil filter fields again
                this.search.contracts.field = tag.field;
                this.search.contracts.value = tag.value;

                this.fitMap();
            },
            removeDriverFilter(tag) {
                // Pre-fil filter fields again
                this.search.drivers.field = tag.field;
                this.search.drivers.value = tag.value;

                this.filter.driverFields.splice(this.filter.driverFields.indexOf(tag), 1);
            },
            selectDate(date) {
                if (date == '' || typeof date == 'undefined') {
                    return;
                }

                // Reset selected tasks/contracts
                this.selectedContracts = [];
                this.duplicates = [];
                Object.keys(this.$refs).forEach((key) => {
                    if(key.indexOf('driver') > -1)
                    {
                        this.$refs[key][0].resetSelected()
                    }
                });
                const day = (date.getDate() < 10) ? '0' + date.getDate() : date.getDate();
                const month = (date.getMonth() < 9) ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
                const year = date.getFullYear();

                const dateFormat = day + '-' + month + '-' + year;

                let loadingInstance = Loading.service({
                    target: 'body',
                    text: 'Bonnen voor ' + dateFormat + ' aan het ophalen',
                    lock: true
                });

                this.emptyOutData();

                this.$nextTick(() => {
                    this.$http.get('/day/' + dateFormat)
                            .then((res) => {
                                this.duplicates = res.data.contracts.meta.duplicates;
                                this.contracts = res.data.contracts.data;
                                this.importDriverSchedule(res.data.drivers.data);
                                this.$message({
                                    message: 'Alle bons voor ' + dateFormat + ' zijn in geladen',
                                    type: 'success',
                                    showClose: true,
                                    duration: 5000
                                });
                                this.$nextTick(() => {
                                    this.fitMap();
                                });
                            })
                            .catch((res) => {
                                console.log(res);
                                this.$message.error('Oeps, er ging iets mis met de server.');
                            })
                            .finally(() => {
                                loadingInstance.close();
                            });
                });
            },
            emptyOutData(){
                // Unset driver plannings
                this.drivers.forEach((driver, index) => {
                    this.drivers[index].deleting = true;

                    // Clean the component's local state
                    this.$refs['drivers.' + driver.id][0].cleanOutState();
                    // Clean out planning
                    this.drivers[index].planning = [];
                }, this);

                // Unset contracts
                this.contracts = [];
            },
            importDriverSchedule(schedules){
                this.drivers.forEach((driver, index) => {
                    const driverKey = _.findIndex(schedules, (d) => {
                        return drivers[index].id == d.id
                    });

                    // If the driver wasn't defined, unset the planning
                    if (driverKey < 0) {
                        this.drivers[index].planning = [];
                    }
                    // Update planning if found
                    else {
                        this.drivers[index].planning = schedules[driverKey].planning;
                    }

                    // Split the planning into slots
                    this.$refs['drivers.' + this.drivers[index].id][0].buildFromPlanning();
                }, this);

                this.syncDriverScheduleWithContracts();
            },
            syncDriverScheduleWithContracts(){
                this.drivers.forEach((driver, index) => {
                    if (driver.planning.length > 0) {
                        driver.planning.forEach((task) => {
                            if (task.type == 'contract') {
                                let contractId = _.findIndex(this.contracts, (c) => {
                                    return c.id == task.contract_id;
                                });

                                if (contractId >= 0 && typeof contractId != 'undefined') {
                                    this.contracts[contractId].status = 'planned';
                                }
                            }
                        }, this);
                    }
                }, this);
            },
            filterDrivers(drivers) {
                return drivers.filter((driver) => {
                    // Filter by the user defined column <-> value pairs
                    if (this.filter.driverFields.length > 0) {
                        for (let f in this.filter.driverFields) {
                            let contractColumnValue = _.get(driver, this.filter.driverFields[f].field).toLowerCase();

                            // If the specific column value does contain the defined value, include it
                            if (contractColumnValue.indexOf(this.filter.driverFields[f].value.toLowerCase()) >= 0) {
                                driver.state = 'shown';
                                return true;
                            }
                        }
                    }
                    else
                    {
                        driver.state = 'shown';
                        return true;
                    }

                    driver.state = 'hidden';
                    return false;
                }, this);
            },
            filterContracts(contracts){
                let newContracts = contracts.filter((contract, index) => {
                    contract.originalIndex = index;
                    // Start off by filtering based on the types
                    switch (this.filter.types.length) {
                            // All or none have been selected, return all contracts
                        case 0:
                        case 3:
                            break;
                            // Types or statuses have been selected
                        default:
                            let shouldBeIncluded = false;
                            let isStatusOk = false;

                            for (let k in this.filter.types) {
                                if (this.filter.types[k] == 'delivery' || this.filter.types[k] == 'pickup') {
                                    shouldBeIncluded = contract.type == this.filter.types[k];
                                }

                                // If the contract should be included, break the loop
                                if (shouldBeIncluded === true)
                                    break;
                            }

                            if (shouldBeIncluded && contract.status != 'unplanned') {
                                for (let k in this.filter.types) {
                                    if (this.filter.types[k] == 'planned') {
                                        isStatusOk = contract.status == 'planned';
                                    }

                                    // If the contract should be included, break the loop
                                    if (isStatusOk === true)
                                        break;
                                }
                            }
                            else {
                                isStatusOk = true;
                            }

                            // Don't include the contract if none of the types or status don't match
                            if (shouldBeIncluded === false || isStatusOk === false) {
                                return false;
                            }
                            break;
                    }

                    // Filter by the user defined column <-> value pairs
                    if (this.filter.fields.length > 0) {
                        for (let f in this.filter.fields) {
                            let contractColumnValue = _.get(contract, this.filter.fields[f].field);

                            if(contractColumnValue == null)
                                return false;

                            // If the specific column value does contain the defined value, include it
                            if (contractColumnValue.toLowerCase().indexOf(this.filter.fields[f].value.toLowerCase()) >= 0) {
                                return true;
                            }
                        }
                    }
                    else
                    {
                        return true;
                    }

                    return false;
                }, this);

                // Order contracts by order number
                return _.orderBy(newContracts, 'number', 'asc');
            },
            fitMap(){
                let bounds = new google.maps.LatLngBounds();

                let filteredContracts = this.filterContracts(this.contracts);

                if(filteredContracts.length == 0)
                {
                    filteredContracts = this.contracts;
                }

                filteredContracts.forEach((contract) => {
                    let location = new google.maps.LatLng(contract.location.coordinates.lat, contract.location.coordinates.lng);
                    bounds.extend(location);
                });

                // Scale the map so it shows all markers
                if (this.$refs.appMap) {
                    this.$refs.appMap.$mapObject.fitBounds(bounds);
                    this.$refs.appMap.resize();

                    this.$refs.appMap.$mapObject.setCenter(bounds.getCenter());
                }
            },
            refreshRentPlus(){
                let loadingInstance = Loading.service({
                    target: 'body',
                    text: 'Bonnen voor ' + this.dateFormat + ' opnieuw aan het indexeren.',
                    lock: true
                });

                this.$http
                        .get('/refresh/' + this.dateFormat)
                        .then((res) => {
                            this.$message({
                                message: res.data.message,
                                type: 'success',
                                showClose: true,
                                duration: 5000
                            });
                        })
                        .catch((res) => {
                            this.$message.error('Oeps, er ging iets mis met de server.');
                        })
                        .finally(() => {
                            loadingInstance.close();
                        });
            }
        }
    };
</script>