<style>
    #filter-fields #filter-column input, #filter-drivers #filter-column input {
        border-right: none !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    #filter-fields #filter-value input, #filter-drivers #filter-value input {
        border-left-color: #d2deee;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .el-dropdown-menu__item .el-checkbox__label {
        font-weight: normal !important;
    }

    @media print {
        .show-print {
            display: block !important;
        }

        .hide-print {
            display: none;
        }

        body {
            height: auto !important;
        }

        * {
            overflow: visible !important;
            float: none !important;
        }
    }
</style>
<template>
    <div id="app" class="col-md-12">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 15px;">
                <el-date-picker
                        v-model="date"
                        type="date"
                        placeholder="Kies een datum"
                        :picker-options="datePickerOptions"
                        v-on:input="selectDate">
                </el-date-picker>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-3">
                <el-input
                        id="filter-value"
                        placeholder="Nummerplaat"
                        icon="search"
                        v-model="search"
                        @click="filterByColumns">
                </el-input>
            </div>
            <div class="col-md-9">
                <el-button-group class="pull-right">
                    <el-button :type="tableBtnClass" @click="changeView('table')">Tabel</el-button>
                    <el-button :type="listBtnClass" @click="changeView('list')">Lijst</el-button>
                </el-button-group>
            </div>
        </div>
        <div class="row" v-show="currentView == 'table'">
            <div class="col-md-12">
                <div class="el-table el-table--fit el-table--striped el-table--enable-row-hover el-table--enable-row-transition">
                    <div class="hidden-columns">
                        <div></div>
                    </div>
                    <div class="el-table__header-wrapper">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 100%;"
                               >
                            <thead>
                            <tr>
                                <th colspan="1" style="width: 10%;" rowspan="1" class="el-table_1_column_1 is-leaf">
                                    <div class="cell">Nummerplaat</div>
                                </th>
                                <th colspan="1" style="width: 22.5%;" rowspan="1" class="el-table_1_column_2 is-leaf">
                                    <div class="cell">Vroeg</div>
                                </th>
                                <th colspan="1" style="width: 22.5%;" rowspan="1" class="el-table_1_column_3 is-leaf">
                                    <div class="cell">Ochtend</div>
                                </th>
                                <th colspan="1" style="width: 22.5%;" rowspan="1" class="el-table_1_column_4 is-leaf">
                                    <div class="cell">Namiddag</div>
                                </th>
                                <th colspan="1" style="width: 22.5%;" rowspan="1" class="el-table_1_column_5 is-leaf">
                                    <div class="cell">Avond</div>
                                </th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="el-table__body-wrapper">
                        <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 100%;">
                            <tbody>
                            <tr v-for="driver in data">
                                <td class="el-table_1_column_1" style="width: 10%">
                                    <div class="cell">{{driver.plate}}</div>
                                </td>
                                <td class="el-table_1_column_2" style="width: 22.5%;">
                                    <div class="cell" v-show="driver.early"><el-tag v-for="contract in driver.early">{{contract.number}}</el-tag></div>
                                </td>
                                <td class="el-table_1_column_3" style="width: 22.5%;">
                                    <div class="cell" v-show="driver.morning"><el-tag v-for="contract in driver.morning">{{contract.number}}</el-tag></div>
                                </td>
                                <td class="el-table_1_column_4" style="width: 22.5%;">
                                    <div class="cell" v-show="driver.afternoon"><el-tag v-for="contract in driver.afternoon">{{contract.number}}</el-tag></div>
                                </td>
                                <td class="el-table_1_column_5" style="width: 22.5%;">
                                    <div class="cell" v-show="driver.evening"><el-tag v-for="contract in driver.evening">{{contract.number}}</el-tag></div>
                                </td>
                            </tr>
                            </tbody>
                        </table><!----></div><!----><!----><!---->
                    <div class="el-table__column-resize-proxy" style="display: none;"></div>
                </div>

            </div>
        </div>
        <div class="row" v-show="currentView == 'list'">
            <div class="col-md-12">
                <div class="row hide show-print">
                    <div class="col-md-12">
                        <img src="http://www.eurotaprent.be/wp-content/themes/eurotaprent/img/logo.png" alt=""/>
                    </div>
                </div>
                <div class="row" v-for="driver in drivers"
                     v-if="driver.early.length > 0 || driver.morning.length > 0 || driver.afternoon.length > 0 || driver.evening.length > 0">
                    <div class="col-md-12">
                        <h3>{{driver.plate}}</h3>
                        <hr>
                        <div class="row" id="calendar-list-header">
                            <div class="col-md-4"><strong>Info</strong></div>
                            <div class="col-md-4"><strong>Contact</strong></div>
                            <div class="col-md-4"><strong>Locatie</strong></div>
                        </div>
                        <div v-if="driver.early.length > 0" style="margin-bottom: 10px;">
                            <h4>Vroeg</h4>
                            <div class="row" v-for="contract in driver.early"
                                 style="padding-bottom: 10px; padding-top: 5px; border-bottom: 1px solid black">
                                <div class="col-md-4">
                                    &nbsp;<strong class="pull-right hide show-print"><em>{{contract.type}}
                                    <small>({{status(contract.status)}})</small>
                                </em></strong><br/>
                                    <strong>{{contract.number}}</strong> - {{contract.client.name}}<br/>
                                    <span class="text-muted">
                                        {{contract.description}}
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.client.contact.phone">
                                        <strong>Klant contact</strong><br/>
                                        {{contract.client.contact.name}}<br/>
                                        <span v-if="contract.client.contact.phone"><i class="fa fa-phone"></i> {{contract.client.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.contact.phone">
                                        <strong>Locatie contact</strong><br/>
                                        {{contract.contact.name}}<br/>
                                        <span v-if="contract.contact.phone"><i class="fa fa-phone"></i> {{contract.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <strong class="pull-right hide-print"><em>{{contract.type}}
                                        <small>({{status(contract.status)}})</small>
                                    </em></strong><br/>
                                    {{contract.location.title}}<br />
                                    {{contract.location.street}}<br/>
                                    {{contract.location.postal}}
                                </div>

                                <div class="col-md-12" v-if="contract.itemsCount != '?' && contract.itemsCount > 0">
                                    <h5>{{contract.itemsCount}} artikels</h5>
                                    <ul class="list-inline">
                                        <li class="col-md-4" v-for="item in contract.items">
                                            <strong>{{item.article_key}}:</strong> {{item.name_translated}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div v-if="driver.morning.length > 0" style="margin-bottom: 10px;">
                            <h4>Voormiddag</h4>
                            <div class="row" v-for="contract in driver.morning"
                                 style="padding-bottom: 10px; padding-top: 5px; border-bottom: 1px solid black">
                                <div class="col-md-4">
                                    &nbsp;<strong class="pull-right hide show-print"><em>{{contract.type}}
                                    <small>({{status(contract.status)}})</small>
                                </em></strong><br/>
                                    <strong>{{contract.number}}</strong> - {{contract.client.name}}<br/>
                                    <span class="text-muted">
                                        {{contract.description}}
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.client.contact.phone">
                                        <strong>Klant contact</strong><br/>
                                        {{contract.client.contact.name}}<br/>
                                        <span v-if="contract.client.contact.phone"><i class="fa fa-phone"></i> {{contract.client.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.contact.phone">
                                        <strong>Locatie contact</strong><br/>
                                        {{contract.contact.name}}<br/>
                                        <span v-if="contract.contact.phone"><i class="fa fa-phone"></i> {{contract.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <strong class="pull-right hide-print"><em>{{contract.type}}
                                        <small>({{status(contract.status)}})</small>
                                    </em></strong><br/>
                                    {{contract.location.title}}<br />
                                    {{contract.location.street}}<br/>
                                    {{contract.location.postal}}
                                </div>
                            </div>
                        </div>
                        <div v-if="driver.afternoon.length > 0" style="margin-bottom: 10px;">
                            <h4>Namiddag</h4>
                            <div class="row" v-for="contract in driver.afternoon"
                                 style="padding-bottom: 10px; padding-top: 5px; border-bottom: 1px solid black">
                                <div class="col-md-4">
                                    &nbsp;<strong class="pull-right hide show-print"><em>{{contract.type}}
                                    <small>({{status(contract.status)}})</small>
                                </em></strong><br/>
                                    <strong>{{contract.number}}</strong> - {{contract.client.name}}<br/>
                                    <span class="text-muted">
                                        {{contract.description}}
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.client.contact.phone">
                                        <strong>Klant contact</strong><br/>
                                        {{contract.client.contact.name}}<br/>
                                        <span v-if="contract.client.contact.phone"><i class="fa fa-phone"></i> {{contract.client.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.contact.phone">
                                        <strong>Locatie contact</strong><br/>
                                        {{contract.contact.name}}<br/>
                                        <span v-if="contract.contact.phone"><i class="fa fa-phone"></i> {{contract.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <strong class="pull-right hide-print"><em>{{contract.type}}
                                        <small>({{status(contract.status)}})</small>
                                    </em></strong><br/>
                                    {{contract.location.title}}<br />
                                    {{contract.location.street}}<br/>
                                    {{contract.location.postal}}
                                </div>
                            </div>
                        </div>
                        <div v-if="driver.evening.length > 0" style="margin-bottom: 10px;">
                            <h4>Avond</h4>
                            <div class="row" v-for="contract in driver.evening"
                                 style="padding-bottom: 10px; padding-top: 5px; border-bottom: 1px solid black">
                                <div class="col-md-4">
                                    &nbsp;<strong class="pull-right hide show-print"><em>{{contract.type}}
                                    <small>({{status(contract.status)}})</small>
                                </em></strong><br/>
                                    <strong>{{contract.number}}</strong> - {{contract.client.name}}<br/>
                                    <span class="text-muted">
                                        {{contract.description}}
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.client.contact.phone">
                                        <strong>Klant contact</strong><br/>
                                        {{contract.client.contact.name}}<br/>
                                        <span v-if="contract.client.contact.phone"><i class="fa fa-phone"></i> {{contract.client.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div v-if="contract.contact.phone">
                                        <strong>Locatie contact</strong><br/>
                                        {{contract.contact.name}}<br/>
                                        <span v-if="contract.contact.phone"><i class="fa fa-phone"></i> {{contract.contact.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <strong class="pull-right hide-print"><em>{{contract.type}}
                                        <small>({{status(contract.status)}})</small>
                                    </em></strong><br/>
                                    {{contract.location.title}}<br />
                                    {{contract.location.street}}<br/>
                                    {{contract.location.postal}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {Loading} from 'element-ui';

    export default {
        name: 'app',
        mounted() {

        },
        data() {
            return {
                date: '',
                search: '',
                datePickerOptions: {
                    shortcuts: [{
                        text: 'Vandaag',
                        onClick(picker) {
                            picker.$emit('pick', new Date());
                        }
                    }, {
                        text: 'Morgen',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24);
                            picker.$emit('pick', date);
                        }
                    }]
                },
                currentView: 'list',
                data: []
            };
        },
        computed: {
            dateFormat(){
                if (this.date == '')
                    return '';

                const day = (this.date.getDate() < 10) ? '0' + this.date.getDate() : this.date.getDate();
                const month = (this.date.getMonth() < 9) ? '0' + (this.date.getMonth() + 1) : this.date.getMonth() + 1;
                const year = this.date.getFullYear();

                return day + '-' + month + '-' + year;
            },
            tableBtnClass() {
                return this.currentView == 'table' ? '' : 'primary';
            },
            listBtnClass() {
                return this.currentView == 'list' ? '' : 'primary';
            },
            drivers(){
                if (this.data.length == 0) {
                    return [];
                }

                if (this.search == '')
                    return this.data;

                const search = this.search;

                return _.filter(this.data, function (driver) {
                    return driver.plate.indexOf(search) >= 0;
                });
            }
        },
        methods: {
            filterByColumns() {

            },
            selectDate(date) {
                const day = (date.getDate() < 10) ? '0' + date.getDate() : date.getDate();
                const month = (date.getMonth() < 9) ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
                const year = date.getFullYear();

                const dateFormat = day + '-' + month + '-' + year;

                let loadingInstance = Loading.service({
                    target: 'body',
                    text: 'Chauffeurs voor ' + dateFormat + ' aan het ophalen',
                    lock: true
                });

                this.$http.get('/calendar/' + dateFormat)
                        .then((res) => {
                            this.data = res.data;
                            this.$message({
                                message: 'Alle chauffeurs voor ' + dateFormat + ' zijn op gehaald',
                                type: 'success',
                                showClose: true,
                                duration: 5000
                            });
                        })
                        .catch((res) => {
                            console.log(res);
                            this.$message.error('Oeps, er ging iets mis met de server.');
                        })
                        .finally(() => {
                            loadingInstance.close();
                        });
            },
            changeView(view)
            {
                this.currentView = view;
            },
            status(status)
            {
                switch (status) {
                    case 'not_executed':
                        return 'Niet uitgevoerd';
                        break;
                    case 'busy':
                        return 'Bezig';
                        break;
                    case 'pause':
                        return 'Gepauzeerd';
                        break;
                    case 'cancelled':
                        return 'geannuleerd';
                        break;
                    case 'finished':
                        return 'Uitgevoerd';
                        break;
                }
            }
        }
    };
</script>