<style>
</style>
<template>
    <li class="list-group-item" :style="{'border-color': color}">
        <div class="row" @click="selectTask($event)">
            <div class="col-md-12" v-if="task.type =='task'">
                {{task.label}} {{task.meta.title}} <span class="pull-right"><a @click.prevent="sendEditEvent"><i class="el-icon-edit"></i></a> <a class="text-danger" @click.prevent="sendDeleteEvent"><i class="el-icon-delete"></i></a></span>
            </div>
            <div class="col-md-12" v-else>
                {{task.label}} {{task.meta.number}} {{task.title}} <span class="pull-right"><a class="text-danger" @click.prevent="sendRemoveEvent"><i class="el-icon-delete"></i></a></span>
            </div>
        </div>
    </li>
</template>

<script>
    export default {
        props: ['task', 'date'],
        mounted(){
        },
        computed: {
            color() {
                const self = this;
                let activityIndex = -1;

                if(this.task.type == 'task')
                {
                    activityIndex = _.findIndex(window.activities, (a) => {
                        return a.id == String(self.task.subType);
                    });
                }
                else
                {
                    activityIndex = _.findIndex(window.activities, (a) => {
                        return a.id == self.task.type;
                    });
                }

                if(activityIndex < 0)
                {
                    return '#d3e0e9';
                }

                return window.activities[activityIndex].color;
            },
        },
        methods: {
            selectTask($event){
                this.$emit('selectTask', $event)
            },
            sendDeleteEvent(){
                this.$emit('removeTask', this.task)
            },
            sendRemoveEvent(){
                this.$emit('removeContract', this.task)
            },
            sendEditEvent(){
                this.$emit('editTask', this.task)
            }
        }
    }
</script>