<style>
    .btn-changed {
        background-color: rgba(32, 160, 255, 0.11) !important;
    }

    .contract .container-fluid .form-control {
        position: absolute;
        left: 0;
    }
</style>
<template>
    <div class="row">
        <div class="col-md-12">
            <el-card class="box-card" :style="style" :body-style="bodyStyle"
                     v-draggable.driver="{id: index, contract: contract}">
                <div class="clearfix" style="margin-top: -8px; margin-bottom: -8px;" @click="selectContract($event)">
                    <span style="line-height: 32px;"><strong>{{contract.number}}</strong>: {{contract.customer.key}}</span>
                    <span v-if="duplicateNumber > 1">( kopie {{duplicateNumber -1}})</span>
                    <span style="line-height: 32px;" v-show="contract.slot"><small>({{contract.slot}})</small></span>

                    <el-button-group style="float: right">
                        <el-button v-show="contract.type == 'delivery'" type="primary"
                                   @click="dialogVisible = true">
                            Levering <span v-if="contract.transics_status == 'finished'"> <i
                                class="el-icon-check"></i></span>
                        </el-button>
                        <el-button v-show="contract.type == 'pickup'" type="info"
                                   @click="dialogVisible = true">
                            Ophaling <span v-if="contract.transics_status == 'finished'"> <i
                                class="el-icon-check"></i></span>
                        </el-button>
                        <el-button type="default" v-if="duplicateNumber == 1" @click="duplicateContract()"
                                   icon="plus"></el-button>
                        <el-button type="default" v-if="duplicateNumber > 1" @click="removeDuplicateContract()"><i
                                class="el-icon-delete"></i></el-button>
                        <el-button type="default" icon="search"
                                   @click="contract.infoWindow=!contract.infoWindow"></el-button>
                    </el-button-group>
                </div>
            </el-card>
        </div>
        <el-dialog :title="contract.customer.key+': '+contract.number" v-model="dialogVisible" size="small"
                   @close="closeDialog()">
            <div class="contract">
                <div class="row">
                    <div class="col-md-6">
                        Status: {{transicsStatus}}
                    </div>
                    <div :class="{'col-md-6': true, 'text-primary': contract.status == 'planned', 'text-success': contract.status == 'synced'}"
                         style="height: 36px; vertical-align: middle">
                    <span class="pull-right" style="height: 100%;vertical-align: middle;line-height: 36px;"
                          v-if="contract.type =='delivery'">Levering</span>
                        <span class="pull-right" style="height: 100%;vertical-align: middle;line-height: 36px;"
                              v-if="contract.type =='pickup'">Ophaling</span>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6">
                        <p><strong>Klant</strong></p>
                        Persoon: {{contract.customer.person}}<br/>
                        E-mail: {{contract.customer.email}}<br/>
                        Telefoon: {{contract.customer.phone}}
                    </div>
                    <div class="col-md-6">
                        <p><strong>Contact</strong></p>
                        Persoon: {{contract.contact.person}}<br/>
                        Telefoon: {{contract.contact.phone}}
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-10" style="padding-bottom: 10px;">
                        <p><strong>Locatie</strong></p>
                        {{contract.location.name}} <br/>
                        {{contract.location.street}} {{contract.location.postal}} {{contract.location.country}}
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>
                <div class="container-fluid" style="height: 275px;">
                    <gmap-place-input
                            ref="contractPlace"
                            className="form-control"
                            placeholder="Geef een adres in"
                            :select-first-on-enter="true"
                            @place_changed="updatePlace($event)"
                            @loaded="initRefs()"
                    ></gmap-place-input>
                    <gmap-map :center="contract.location.coordinates" :zoom="16" :options="{mapTypeControl: false}"
                              style="width: 100%; height: 250px; position: absolute; left:0;margin-top:26px;">
                        <gmap-marker
                                :position="contract.location.coordinates"
                                :draggable="true"
                                @dragend="placedMarker($event)"
                        ></gmap-marker>
                    </gmap-map>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Sluit</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    import {Loading} from 'element-ui';
    export default {
        props: ['columns', 'date', 'index'],
        data() {
            return {
                dialogVisible: false,
                showContent: true,
                style: {
                    'margin-bottom': '10px',
                    'background-color': '#FFFFFF',
                    'border-color': '#D3DCE6'
                },
                bodyStyle: {display: 'block'},
                changed: false
            }
        },
        mounted(){
            this.statusStyling();
        },
        computed: {
            transicsStatus(){
                // 'not_executed','busy','finished','cancelled','pause'
                switch (this.$parent.contracts[this.index].transics_status) {
                    case 'not_executed':
                        return 'Niet uitgevoerd';
                        break;
                    case 'busy':
                        return 'Bezig';
                        break;
                    case 'pause':
                        return 'Gepauzeerd';
                        break;
                    case 'cancelled':
                        return 'Geannuleerd';
                        break;
                    case 'finished':
                        return 'Uitgevoerd';
                        break;
                }
            },
            contract(){
                return this.$parent.contracts[this.index];
            },
            activities() {
                return window.activities;
            },
            color(){
                const activityId = (this.contract.type == 'delivery') ? "145541" : "145542";

                return this.activities[_.findIndex(this.activities, (a) => {
                    return a.id == activityId;
                })].color;
            },
            show(){
                return this.$parent.filter.types.indexOf(this.contract.type);
            },
            duplicates()
            {
                return this.$parent.duplicates[this.contract.number];
            },
            duplicateNumber(){
                const type = this.contract.type;
                return this.duplicates[type].indexOf(this.contract.id) + 1;
            }
        },
        watch: {
            showContent(val) {
                this.bodyStyle.display = (val) ? 'block' : 'none';
            }
        },
        methods: {
            duplicateContract(){
                if (this.duplicates.length == 4) {
                    this.$message.error('Er kunnen niet meer dan 4 kopieën zijn van 1 bon');
                    return;
                }

                this.$http.post('/day/' + this.$parent.dateFormat + '/duplicate', {
                    order_number: this.contract.number,
                    id: this.contract.id
                })
                    .then((res) => {
                        if (res.data.status == 'success') {
                            const contract = res.data.contract.data;
                            contract.duplicateNumber = this.duplicates.length + 1;
                            contract.type = this.contract.type;
                            contract.status = 'unplanned';

                            this.$parent.duplicates[this.contract.number][this.contract.type].push(contract.id);
                            this.$parent.contracts.push(contract);

                            this.$message.success('De kopie is toe gevoegd aan het einde van de lijst.');
                            return;
                        }
                        this.$message.error(res.data.message);
                    })
                    .catch((error) => {
                        this.$message.error('Oeps, er ging iets mis met de server.');
                    });
            },
            removeDuplicateContract(){
                if (this.duplicates.length == 1) {
                    this.$message.error('Dit is de enigste bon die over blijft.');
                    return;
                }

                if (this.contract.slot != 'In te plannen') {
                    this.$message.error('De bon is momenteel ingepland.');
                    return;
                }

                const slots = {
                    'In te plannen': 'planned',
                    'Vroege ochtend': 'early',
                    'Ochtend': 'morning',
                    'Middag': 'afternoon',
                    'Avond': 'evening'
                };

                this.$http.post('/day/' + this.$parent.dateFormat + '/duplicate/delete', {
                    order_number: this.contract.number,
                    id: this.contract.id
                })
                    .then((res) => {
                        if (res.data.status == 'success') {
                            // Remove from duplicates list
                            this.$parent.duplicates[this.contract.number][this.contract.type].splice(this.duplicateNumber - 1, 1);

                            // If a driver was defined
                            if (this.contract.drivers[this.contract.type] != null) {
                                const slotName = slots[this.contract.slot];
                                const driverName = this.contract.drivers[this.contract.type];

                                // Get the assigned slot
                                const DriverSlot = this.$parent.$refs['drivers.' + driverName][0][slotName];

                                // Remove from assigned slot
                                DriverSlot.splice(_.findIndex(DriverSlot, (contract) => {
                                    return contract.meta.id == this.contract.id;
                                }), 1);
                            }

                            // Remove contract
                            const contractIndex = _.findIndex(this.$parent.contracts, ['id', this.contract.id]);
                            this.$parent.contracts.splice(contractIndex, 1);

                            this.$message.success(res.data.message);
                            return;
                        }
                        this.$message.error(res.data.message);
                    })
                    .catch((error) => {
                        this.$message.error('Oeps, er ging iets mis met de server.');
                    });
            },
            selectContract($event){
                if (this.contract.status != 'unplanned')
                    return;

                // If it was selected, remove from the list
                if (this.isContractSelected()) {
                    if (typeof $event != 'undefined' && $event.shiftKey === true)
                        this.$parent.selectedContracts.splice(this.$parent.selectedContracts.indexOf(this.index), 1);
                    else
                        this.$parent.selectedContracts = [];

                    this.updateStyling();
                    return;
                }

                if (typeof $event != 'undefined' && $event.shiftKey === true) {
                    this.$parent.selectedContracts.push(this.index);

                    this.updateStyling();
                    return;
                }

                this.$parent.selectedContracts = [this.index];
                this.updateStyling();
            },
            isContractSelected(){
                return this.$parent.selectedContracts.indexOf(this.index) > -1
            },
            updateStyling(){
                // Update styling of all contracts
                Object.keys(this.$parent.$refs).forEach((refName) => {
                    if (refName.indexOf('contract.') > -1 && this.$parent.$refs[refName].length > 0) {
                        this.$parent.$refs[refName][0].statusStyling();
                    }
                });
            },
            // Initialise the location corrector
            initRefs(){
                this.$refs.contractPlace.$refs.input.value = this.contract.location.street + ' ' + this.contract.location.postal + ' ' + this.contract.location.country;
            },
            // Update the location through the location corrector
            updatePlace(place) {
                // Update the newTask's location
                if (place && place.geometry && place.geometry.location) {
                    this.contract.location.coordinates = {
                        lat: place.geometry.location.lat(),
                        lng: place.geometry.location.lng()
                    };

                    this.changed = true;
                }
            },
            // Update the location based on marker
            placedMarker($event) {
                this.contract.location.coordinates = {
                    lng: $event.latLng.lng(),
                    lat: $event.latLng.lat()
                };
                this.changed = true;
            },
            statusStyling(){
                this.style['border-color'] = this.color;

                if (this.isContractSelected()) {
                    this.style['background-color'] = '#F3F1ED';
                }
                else if (this.contract.status == 'planned') {
                    this.style['background-color'] = '#E9F6FF';
                }
                else if (this.contract.status == 'synced') {
                    this.style['background-color'] = 'rgba(255, 255, 255, 0)';
                }
                else {
                    this.style['background-color'] = '#FFFFFF';
                }
            },
            getContractColumnValue(contract, key) {
                return _.get(contract, _.find(this.$parent.allColumns, ['label', key]).value);
            },
            closeDialog(){
                if (this.changed) {
                    this.$parent.fitMap();
                    // Send request to server to update contract with new state
                    let loadingInstance = Loading.service({
                        target: 'body',
                        text: 'Bonnen voor ' + this.$parent.dateFormat + ' opnieuw aan het indexeren.',
                        lock: true
                    });

                    this.$http
                        .post('/coordinates/' + this.contract.id, this.contract.location.coordinates)
                        .then((res) => {
                            this.$message({
                                message: res.data.message,
                                type: 'success',
                                showClose: true,
                                duration: 5000
                            });
                        })
                        .catch((res) => {
                            this.$message.error('Oeps, er ging iets mis met de server.');
                        })
                        .finally(() => {
                            loadingInstance.close();
                        });

                    this.changed = false;
                }
            }
        }
    }
</script>