<style>
    .btn-changed {
        background-color: rgba(32, 160, 255, 0.11) !important;
    }

    .pac-container {
        z-index: 991042;
    }

    .driver-map-container {
        padding-left: 0;
        padding-right: 0;
    }

    .driver-map-container label {
        display: block;
        margin-bottom: 5px;
    }

    .driver-date {
        font-size: 3em;
        color: #C0CCDA;
    }
</style>
<template>
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-12">
            <el-card class="box-card" v-droppable.driver="{handler: dropContract}">
                <div class="text item">
                    <div class="row">
                        <div class="col-md-3">
                            <div v-show="showManagerInfo">
                                <a @click="dialogVisible = true" style="width: 42px; height: 42px; padding: 0;">
                                    <i class="el-icon-date driver-date"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 text-right">
                            <strong :class="plateClass">{{driver.plate}}</strong><br/>
                            {{driver.fleet}}
                        </div>
                    </div>
                </div>
            </el-card>
        </div>
        <el-dialog :title="'Voertuig: ' + driver.plate" size="large" v-model="dialogVisible" @close="closeDialog()">
            <div>
                <div class="row" style="padding-bottom: 10px;">
                    <div class="col-md-4">
                        <el-button-group v-if="newTask.show">
                            <el-button type="success" @click="saveTask" icon="check"></el-button>
                            <el-button @click="clearTask" type="primary" icon="close"></el-button>
                        </el-button-group>
                        <el-button-group v-if="!newTask.show">
                            <el-button @click="showTask" type="primary" icon="plus">Nieuwe opdracht</el-button>
                            <el-button @click="fitMap()">Centreer map</el-button>
                        </el-button-group>
                    </div>
                    <div class="col-md-2 col-md-offset-6 text-right">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 10px;" v-show="newTask.show">
                    <div class="col-md-6">
                        <el-form :model="newTask" label-position="top" ref="driverForm" :rules="rules">
                            <div class="row">
                                <div class="col-md-6">
                                    <el-form-item prop="type" label="Type opdracht" placeholder="Selecteer">
                                        <el-select v-model="newTask.type" @change="changeType">
                                            <el-option v-for="activity in activities" :label="activity.name"
                                                       :value="activity.id"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                                <div class="col-md-6">
                                    <el-form-item prop="status" label="Uitvoering">
                                        <el-select v-model="newTask.status" placeholder="Selecteer">
                                            <el-option label="In te plannen" value="planned"></el-option>
                                            <el-option label="Vroeg" value="early"></el-option>
                                            <el-option label="Ochtend" value="morning"></el-option>
                                            <el-option label="Namiddag" value="afternoon"></el-option>
                                            <el-option label="Avond" value="evening"></el-option>
                                        </el-select>
                                    </el-form-item>
                                </div>
                                <div class="col-md-6">
                                    <el-form-item label="E-mail:" prop="email">
                                        <el-input
                                                placeholder="E-mail"
                                                v-model="newTask.email">
                                        </el-input>
                                    </el-form-item>
                                </div>
                                <div class="col-md-6">
                                    <el-form-item label="GSM nr:" prop="telephone">
                                        <el-input
                                                placeholder="GSM nr"
                                                v-model="newTask.telephone">
                                        </el-input>
                                    </el-form-item>
                                </div>
                                <div class="col-md-12">
                                    <el-form-item label="Taak:" prop="title">
                                        <el-input
                                                placeholder="Taak"
                                                v-model="newTask.title">
                                        </el-input>
                                    </el-form-item>
                                </div>
                                <div class="col-md-12">
                                    <el-form-item label="Beschrijving:" prop="description">
                                        <el-input
                                                placeholder="Beschrijving"
                                                v-model="newTask.description"
                                                type="textarea"
                                                :autosize="{ minRows: 3, maxRows: 3}">
                                        </el-input>
                                    </el-form-item>
                                </div>
                            </div>
                        </el-form>
                    </div>
                    <div class="col-md-6 driver-map-container" style="padding-top: 28px;">
                        <gmap-place-input
                                ref="taskPlace"
                                className="form-control"
                                placeholder="Geef een adres in"
                                :select-first-on-enter="true"
                                @place_changed="updatePlace($event)"
                        ></gmap-place-input>

                        <gmap-map :center="newTask.center" :zoom="15" ref="taskMap" :options="{mapTypeControl: false}"
                                  style="width: 100%; height: 300px;">

                            <gmap-marker
                                    v-if="newTask.location"
                                    :position.sync="newTask.location"
                                    :draggable="true"
                                    @dragend="placedMarker($event, newTask)"
                            ></gmap-marker>
                        </gmap-map>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" v-droppable.taskPlanned="{ handler: moveTask, data: {container: 'planned'}}">
                        <h4>In te plannen</h4>
                        <div class="row" style="min-height: 60px; max-height: 250px; overflow-y: scroll;"
                             v-show="planned.length > 0">
                            <div style="height: 100%;" class="col-md-12">
                                <ul class="list-group">
                                    <task v-for="(task, index) in planned"
                                          @selectTask="selectTask($event, task, index, 'planned')"
                                          :style="taskStyle(task)"
                                          :task="task"
                                          @editTask="editTask($event, index)"
                                          @removeTask="removeTask($event, index, 'planned')"
                                          @removeContract="removeContract($event, index, 'planned')"
                                          v-droppable.dropPlanned="{handler: sortTask, data:{index: index}}"
                                          v-draggable.taskAfternoon.taskMorning.taskEvening.taskEarly.dropPlanned="{id: index, task: task, original: 'planned'}"
                                    ></task>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" v-droppable.taskEarly="{ handler: moveTask, data: {container: 'early'}}">
                        <h4>Vroeg</h4>
                        <div class="row" style="min-height: 60px; max-height: 250px; overflow-y: scroll;">
                            <div style="height: 100%;" class="col-md-12">
                                <ul class="list-group">
                                    <task v-for="(task, index) in early"
                                          @selectTask="selectTask($event, task, index, 'early')"
                                          :style="taskStyle(task)"
                                          :task="task"
                                          @editTask="editTask($event, index)"
                                          @removeTask="removeTask($event, index, 'early')"
                                          @removeContract="removeContract($event, index, 'early')"
                                          v-droppable.dropEarly="{handler: sortTask, data:{index: index}}"
                                          v-draggable.taskAfternoon.taskMorning.taskEvening.taskPlanned.dropEarly="{id: index, task: task, original: 'early'}"></task>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" v-droppable.taskMorning="{ handler: moveTask, data: {container: 'morning'}}">
                        <h4>Voormiddag</h4>
                        <div class="row" style="min-height: 60px; max-height: 250px; overflow-y: scroll;">
                            <div style="height: 100%;" class="col-md-12">
                                <ul class="list-group">
                                    <task v-for="(task, index) in morning"
                                          @selectTask="selectTask($event, task, index, 'morning')"
                                          :style="taskStyle(task)"
                                          :task="task"
                                          @editTask="editTask($event, index)"
                                          @removeTask="removeTask($event, index, 'morning')"
                                          @removeContract="removeContract($event, index, 'morning')"
                                          v-droppable.dropMorning="{handler: sortTask, data:{index: index}}"
                                          v-draggable.taskAfternoon.taskEarly.taskEvening.taskPlanned.dropMorning="{id: index, task: task, original: 'morning'}"></task>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"
                         v-droppable.taskAfternoon="{ handler: moveTask, data: {container: 'afternoon'}}">
                        <h4>Namiddag</h4>
                        <div class="row" style="min-height: 60px; max-height: 250px; overflow-y: scroll;">
                            <div style="height: 100%;" class="col-md-12">
                                <ul class="list-group">
                                    <task v-for="(task, index) in afternoon"
                                          @selectTask="selectTask($event, task, index, 'afternoon')"
                                          :style="taskStyle(task)"
                                          :task="task" @editTask="editTask($event, index)"
                                          @removeTask="removeTask($event, index, 'afternoon')"
                                          @removeContract="removeContract($event, index, 'afternoon')"
                                          v-draggable.taskMorning.taskEarly.taskEvening.taskPlanned.dropAfternoon="{id: index, task: task, original: 'afternoon'}"
                                          v-droppable.dropAfternoon="{handler: sortTask, data:{index: index}}"
                                    ></task>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" v-droppable.taskEvening="{ handler: moveTask, data: {container: 'evening'}}">
                        <h4>Avond</h4>
                        <div class="row" style="min-height: 60px; max-height: 250px; overflow-y: scroll;">
                            <div style="height: 100%;" class="col-md-12">
                                <ul class="list-group">
                                    <task v-for="(task, index) in evening"
                                          @selectTask="selectTask($event, task, index, 'evening')"
                                          :style="taskStyle(task)"
                                          :task="task"
                                          @editTask="editTask($event, index)"
                                          @removeTask="removeTask($event, index, 'evening')"
                                          @removeContract="removeContract($event, index, 'evening')"
                                          v-droppable.dropEvening="{handler: sortTask, data:{index: index}}"
                                          v-draggable.taskAfternoon.taskMorning.taskEarly.taskPlanned.dropEvening="{id: index, task: task, original: 'evening'}"></task>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" style="height: 350px;">
                    <gmap-map :center="newTask.center" :zoom="10"
                              style="width: 100%; height: 350px; position: absolute; left:0;" ref="mainMap">
                        <gmap-marker
                                v-for="m in markers"
                                :position="m.location"
                                :label="m.label"
                                :clickable="true"
                        ></gmap-marker>
                    </gmap-map>
                </div>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">Plan in</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    import Assignements from './assignements.vue';
    import {Loading} from 'element-ui';
    export default {
        props: ['index', 'columns', 'date'],
        components: {
            task: Assignements
        },
        data() {
            const emailPhone = (rule, value, callback) => {
                if (this.newTask.email == '' && this.newTask.telephone == '') {
                    callback(new Error('Geef oftewel een e-mail of GSM nummer in.'));
                } else {
                    callback();
                }
            };
            return {
                selectedTasks: [],
                dialogVisible: false,
                planned: [],
                morning: [],
                afternoon: [],
                early: [],
                evening: [],
                taskRules: {
                    status: {required: true, message: 'Gelieve een uitvoering te selecteren.'},
                    type: {required: true, message: 'Gelieve een type aan te wijzen.'},
                    title: {required: true, message: 'Gelieve een titel te geven.'},
                    description: {required: true, message: 'Gelieve een beschrijving te geven.'}
                },
                newTask: {
                    index: null,
                    oldSlot: null,
                    label: '?',
                    title: '',
                    status: '',
                    type: '',
                    description: '',
                    address: '',
                    email: '',
                    telephone: '',
                    location: false,
                    show: false,
                    center: {lat: 50.9769234, lng: 4.067335899999989},
                },
                centerMap: {lat: 50.9769234, lng: 4.067335899999989},
                rules: {
                    title: [
                        {type: 'string', required: true, message: 'Dit veld is verplicht', trigger: 'blur'}
                    ],
                    description: [
                        {type: 'string', required: true, message: 'Dit veld is verplicht', trigger: 'blur'}
                    ],
                    status: [
                        {type: 'string', required: true, message: 'Dit veld is verplicht', trigger: 'blur'}
                    ],
                    type: [
                        {type: 'string', required: true, message: 'Dit veld is verplicht', trigger: 'blur'}
                    ],
                    email: [
                        {validator: emailPhone, trigger: 'blur'},
                        {type: 'email', message: 'Geef een correct e-mail adres in', trigger: 'blur'}
                    ],
                    telephone: [
                        {validator: emailPhone, trigger: 'blur'},
                        {min: 9, max: 13, message: 'Geef een correct telefoon nr in (9-13 nummers)', trigger: 'blur'}
                    ]
                },
                changed: false
            }
        },
        mounted(){
            this.buildFromPlanning();
        },
        computed: {
            plateClass(){
                return {
                    'text-muted': this.driver.type == 'external'
                }
            },
            driver(){
                return this.$parent.drivers[this.index];
            },
            activities() {
                return window.activities;
            },
            count(){
                return this.planned.length + this.afternoon.length + this.morning.length + this.early.length + this.evening.length;
            },
            showManagerInfo(){
                return this.$parent.date != '' && typeof this.$parent.date != 'undefined';
            },
            markers(){
                let markers = [];

                [this.planned, this.morning, this.afternoon, this.early, this.evening].forEach((container) => {
                    if (Object.keys(container).length == 0)
                        return;

                    container.forEach((task, index) => {
                        const location = (task.type == 'task') ? task.location : this.$parent.contracts[task.meta.parentIndex].location.coordinates;
                        const slot = task.slot;
                        const label = (task.type == 'task') ? task.label : this.$parent.contracts[task.meta.parentIndex].label;
                        markers.push({
                            location: location,
                            container: slot,
                            index: index,
                            label: label
                        });
                    }, this);
                }, this);

                return markers;
            }
        },
        methods: {
            taskStyle(task){
                const exists = _.findIndex(this.selectedTasks, (selected) => {
                    if(typeof selected.task.id == 'undefined')
                        return selected.task.meta.id == task.id;

                    return selected.task.id == task.id;
                });

                if (exists == -1)
                    return {};

                return {
                    'background-color': '#F3F1ED'
                }
            },
            selectTask($event, task, index, slot){
                const exists = _.findIndex(this.selectedTasks, (selected) => {
                    if(typeof selected.task.id == 'undefined')
                        return selected.task.meta.id == task.id;

                    return selected.task.id == task.id;
                });

                // Deselect
                if (exists > -1) {
                    if (typeof $event != 'undefined' && $event.shiftKey === true)
                        this.selectedTasks.splice(exists, 1);
                    else
                        this.selectedTasks = [];

                    return;
                }

                // Only select tasks from the same slot
                if (this.selectedTasks.length > 0 && this.selectedTasks[0].slot != slot) {
                    this.selectedTasks = [{
                        task: task,
                        index: index,
                        slot: slot
                    }];

                    return;
                }

                // Add to selection
                if (typeof $event != 'undefined' && $event.shiftKey === true) {
                    this.selectedTasks.push({
                        task: task,
                        index: index,
                        slot: slot
                    });
                    return;
                }

                // set selection
                this.selectedTasks = [{
                    task: task,
                    index: index,
                    slot: slot
                }];
            },
            cleanOutState(){
                this.planned = [];
                this.afternoon = [];
                this.morning = [];
                this.changed = false;
            },
            buildFromPlanning(){
                // Separate the driver's planning
                if (this.driver.planning.length > 0) {

                    // Reset
                    ['planned', 'morning', 'afternoon', 'early', 'evening'].forEach((type) => {
                        this[type] = [];
                    });

                    this.driver.planning.forEach((task, id) => {
                        // Place the task
                        switch (task.slot) {
                            case 'created':
                            case 'planned':
                                task.label = '?';
                                task.order = 0;
                                task.slot = 'planned';
                                this.planned.push(task);

                                break;
                            case 'morning':
                            case 'afternoon':
                            case 'early':
                            case 'evening':
                                task.label = task.order;
                                this[task.slot].push(task);
                                break;
                        }

                        // Make sure to connect to the index of the contract in the app list
                        if (task.type != 'task') {

                            this.driver.planning[id].meta.parentIndex = _.findIndex(this.$parent.contracts, (c) => {
                                return c.id == task.contract_id;
                            });

                            this.$parent.contracts[this.driver.planning[id].meta.parentIndex].transics_status = this.driver.planning[id].transics_status;
                            this.$parent.contracts[this.driver.planning[id].meta.parentIndex].slot = this.getSlotTranslation(task.slot);

                            const titleSuffix = (this.$parent.contracts[this.driver.planning[id].meta.parentIndex].duplicate_number > 1) ? ' (kopie '+ String(this.$parent.contracts[this.driver.planning[id].meta.parentIndex].duplicate_number-1) +')' : '';

                            this.driver.planning[id].title = titleSuffix;
                        }
                    }, this);

                    this.$nextTick(() => {
                        this.fitMap();
                    });
                }
            },
            changeType(){
                // Hardcode addess for task types that happen at HQ
                if (this.newTask.type == '145540') {
                    this.$refs.taskPlace.$refs.input.value = this.newTask.address = 'Eigenlostraat 23 9100 Sint-Niklaas';

                    this.newTask.location = {
                        lat: 51.1484185,
                        lng: 4.1819815
                    };
                    this.newTask.center = {
                        lat: 51.1484185,
                        lng: 4.1819815
                    };
                }
            },
            fitMap(){
                let bounds = new google.maps.LatLngBounds();

                if (this.planned.length > 0) {
                    // Loop over the unassigned tasks
                    this.planned.forEach((task) => {
                        task.label = '?';

                        if (task.type != 'task') {
                            this.$parent.contracts[task.meta.parentIndex].label = '?';
                        }

                        let location = (task.type == 'task') ? new google.maps.LatLng(task.location.lat, task.location.lng) : new google.maps.LatLng(this.$parent.contracts[task.meta.parentIndex].location.coordinates.lat, this.$parent.contracts[task.meta.parentIndex].location.coordinates.lng);


                        bounds.extend(location);
                    }, this);
                }

                let markerOrderCount = 1;

                if (this.early.length > 0) {
                    // Loop over tasks assigned to the early shift
                    this.early.forEach((task, index) => {

                        task.label = '' + markerOrderCount;
                        task.order = markerOrderCount;
                        if (task.type != 'task') {
                            this.$parent.contracts[task.meta.parentIndex].label = '' + markerOrderCount;
                            this.$parent.contracts[task.meta.parentIndex].order = markerOrderCount;
                        }
                        markerOrderCount++;

                        let location = (task.type == 'task') ? new google.maps.LatLng(task.location.lat, task.location.lng) : new google.maps.LatLng(this.$parent.contracts[task.meta.parentIndex].location.coordinates.lat, this.$parent.contracts[task.meta.parentIndex].location.coordinates.lng);
                        bounds.extend(location);
                    }, this);
                }

                if (this.morning.length > 0) {
                    // Loop over tasks assigned to the morning shift
                    this.morning.forEach((task, index) => {

                        task.label = '' + markerOrderCount;
                        task.order = markerOrderCount;
                        if (task.type != 'task') {
                            this.$parent.contracts[task.meta.parentIndex].label = '' + markerOrderCount;
                            this.$parent.contracts[task.meta.parentIndex].order = markerOrderCount;
                        }
                        markerOrderCount++;

                        let location = (task.type == 'task') ? new google.maps.LatLng(task.location.lat, task.location.lng) : new google.maps.LatLng(this.$parent.contracts[task.meta.parentIndex].location.coordinates.lat, this.$parent.contracts[task.meta.parentIndex].location.coordinates.lng);
                        bounds.extend(location);
                    }, this);
                }

                if (this.afternoon.length > 0) {
                    // Loop over tasks assigned to the afternoon shift
                    this.afternoon.forEach((task, index) => {
                        task.label = '' + markerOrderCount;
                        task.order = markerOrderCount;
                        if (task.type != 'task') {
                            this.$parent.contracts[task.meta.parentIndex].label = '' + markerOrderCount;
                            this.$parent.contracts[task.meta.parentIndex].order = markerOrderCount;
                        }
                        markerOrderCount++;

                        let location = (task.type == 'task') ? new google.maps.LatLng(task.location.lat, task.location.lng) : new google.maps.LatLng(this.$parent.contracts[task.meta.parentIndex].location.coordinates.lat, this.$parent.contracts[task.meta.parentIndex].location.coordinates.lng);
                        bounds.extend(location);
                    }, this);
                }

                if (this.evening.length > 0) {
                    // Loop over tasks assigned to the evening shift
                    this.evening.forEach((task, index) => {
                        task.label = '' + markerOrderCount;
                        task.order = markerOrderCount;
                        if (task.type != 'task') {
                            this.$parent.contracts[task.meta.parentIndex].label = '' + markerOrderCount;
                            this.$parent.contracts[task.meta.parentIndex].order = markerOrderCount;
                        }
                        markerOrderCount++;

                        let location = (task.type == 'task') ? new google.maps.LatLng(task.location.lat, task.location.lng) : new google.maps.LatLng(this.$parent.contracts[task.meta.parentIndex].location.coordinates.lat, this.$parent.contracts[task.meta.parentIndex].location.coordinates.lng);
                        bounds.extend(location);
                    }, this);
                }

                // Scale the map so it shows all markers
                if (this.$refs.mainMap) {
                    this.$refs.mainMap.$mapObject.fitBounds(bounds);
                    this.$refs.mainMap.resize();

                    this.$refs.mainMap.$mapObject.setCenter(bounds.getCenter());
                }
            },
            clearTask(){
                this.newTask = {
                    index: null,
                    oldSlot: null,
                    label: '?',
                    title: '',
                    status: '',
                    type: '',
                    description: '',
                    address: '',
                    email: '',
                    telephone: '',
                    location: false,
                    show: false,
                    center: {lat: 50.9769234, lng: 4.067335899999989},
                };
            },
            saveTask(){
                this.$refs.driverForm.validate((valid) => {
                    if (!valid)
                        return false;

                    if (this.newTask.email == '' && this.newTask.telephone == '') {

                    }

                    // Build the task's definition
                    const newTask = {
                        id: null,
                        date: this.date,
                        slot: this.newTask.status,
                        label: this.newTask.label,
                        status: 'placed',
                        type: 'task',
                        subType: this.newTask.type,
                        activity: this.newTask.type,
                        location: this.newTask.location,
                        meta: {
                            title: this.newTask.title,
                            text: this.newTask.description,
                            address: this.$refs.taskPlace.$refs.input.value,
                            location: this.newTask.location,
                            email: this.newTask.email,
                            telephone: this.newTask.telephone,
                            type: this.newTask.type
                        },
                        order: '',
                    };

                    // If it's a fresh task
                    if (this.newTask.oldSlot == null) {
                        this[newTask.slot].push(newTask);
                    }
                    // If we're moving timeslots
                    else if (this.newTask.oldSlot != newTask.slot) {
                        // Remove the old reference
                        this[this.newTask.oldSlot].splice(this.newTask.oldIndex, 1);
                        this[this.newTask.status].push(newTask);
                    }
                    // Otherwise just update
                    else {
                        this[this.newTask.status][this.newTask.oldIndex] = newTask;
                    }

                    this.$nextTick(() => {
                        this.fitMap();
                    });

                    this.clearTask();

                    this.changed = true;
                });
            },
            updatePlace(place) {
                // Update the newTask's location
                if (place && place.geometry && place.geometry.location) {
                    this.newTask.location = {
                        lat: place.geometry.location.lat(),
                        lng: place.geometry.location.lng()
                    };
                    this.newTask.center = place.geometry.location;
                    this.newTask.address = place.formatted_address;
                }
            },
            showTask(){
                this.$refs.taskPlace.$refs.input.value = this.newTask.address;
                this.newTask.show = true;
                this.$nextTick(() => {
                    this.$refs.taskMap.resize()
                });
            },
            removeContract($event, index, status){
                // Do nothing if task
                if ($event.type == 'task')
                    return;

                let loadingInstance = Loading.service({
                    target: 'body',
                    text: 'Bon werd verwijderd bij ' + this.driver.plate,
                    lock: true
                });

                const contractIndex = _.findIndex(this.$parent.contracts, (c) => {
                    return c.id == $event.meta.id;
                });

                const contract = this.$parent.contracts[contractIndex];

                // Send the save request
                this.$http
                        .post('/' + this.$parent.dateFormat + '/contracts', {
                            type: contract.type,
                            driver: this.driver.id,
                            action: 'remove',
                            contract: $event.id
                        })
                        .then((res) => {
                            this.$message({
                                message: res.data.message,
                                type: 'success',
                                showClose: true,
                                duration: 5000
                            });

                            // Remove from list
                            this[status].splice(index, 1);

                            // Update the contract
                            this.$parent.contracts[contractIndex].status = 'unplanned';
                            this.$parent.contracts[contractIndex].drivers[this.$parent.contracts[contractIndex].type] = 0;
                            this.$parent.contracts[contractIndex].slot = false;

                            // Update styling
                            this.$parent.$refs['contract.' + contract.id][0].statusStyling();

                            this.changed = true;
                        })
                        .catch((res) => {
                            this.$message.error('Oeps, er ging iets mis met de server.');
                        })
                        .finally(() => {
                            loadingInstance.close();
                        });
            },
            removeTask(event, index, status)
            {
                // If it's a task
                if (event.type == 'task') {
                    this[status].splice(index, 1);

                    this.changed = true;
                    return;
                }

                // Otherwise
                this[status].splice(index, 1);

                this.changed = true;
            },
            editTask(event, index)
            {
                this.newTask = {
                    index: index,
                    oldSlot: event.slot,
                    oldIndex: index,
                    title: event.meta.title,
                    status: event.slot,
                    type: event.meta.type,
                    description: event.meta.text,
                    address: event.meta.address,
                    email: event.meta.email,
                    telephone: event.meta.telephone,
                    location: event.location,
                    show: false,
                    center: event.location,
                };
                this.showTask();
            },
            placedMarker($event, task) {
                if (this.newTask.type == '145540') {
                    this.changeType();
                    return;
                }

                task.location = {
                    lng: $event.latLng.lng(),
                    lat: $event.latLng.lat()
                };

                // Reverse geo-coding; get the address based on the new coordinates
                let geocoder = new google.maps.Geocoder;
                geocoder.geocode({'location': task.location}, (results, status) => {
                    if (status == 'OK') {
                        if (results[0]) {
                            this.$refs.taskPlace.$refs.input.value = results[0].formatted_address;
                        }
                    }
                });
            },
            moveTask($event, data)
            {
                if (this.selectedTasks.length > 0) {
                    const exists = _.findIndex(this.selectedTasks, (task) => {
                        return task.task.id == $event.task.id
                    });

                    if (exists == -1 && $event.original != this.selectedTasks[0].slot) {
                        this.selectedTasks = [{
                            task: $event.task,
                            index: $event.id,
                            slot: $event.original
                        }];
                    }
                }
                else
                {
                    this.selectedTasks = [{
                        task: $event.task,
                        index: $event.id,
                        slot: $event.original
                    }];
                }

                this.selectedTasks.forEach((selected) => {

                    // Update slot on the contract
                    if (selected.task.type == 'contract') {
                        const canBeMoved = this.canContractMove(this.$parent.contracts[selected.task.meta.parentIndex], data.container);

                        if(canBeMoved == false)
                            return;

                        this.$parent.contracts[selected.task.meta.parentIndex].slot = this.getSlotTranslation(data.container);
                    }

                    // Add to the bottom of the new container
                    this[data.container].push(selected.task);

                    // Remove original
                    const key = _.findIndex(this[selected.slot], (t) => {
                        return t.id == selected.task.id;
                    });

                    this[selected.slot].splice(key, 1);
                });


                this.selectedTasks = [];

                // Redraw the map
                this.$nextTick(() => {
                    this.fitMap();
                });

                this.changed = true;
            },
            canContractMove(contract, slot){
                // Always be able to move to the 'planned' slot
                if(slot == 'planned')
                    return true;

                const copies = this.$parent.duplicates[contract.number][contract.type];

                const slots = {
                    'In te plannen': 'planned',
                    'Vroege ochtend': 'early',
                    'Ochtend': 'morning',
                    'Middag': 'afternoon',
                    'Avond': 'evening'
                };

                // There are no others, move it
                if(copies.length == 1)
                    return true;

                let alreadyTaken = false;

                copies.forEach((contractId) => {
                    const contractCopy = this.$parent.contracts[_.findIndex(this.$parent.contracts, ['id', contractId])];

                    if(slots[contractCopy.slot] == slot)
                    {
                        alreadyTaken = true;
                        this.$message.error('Een duplicaat van deze bon is al op dit slot ingepland.');
                    }

                });

                return !alreadyTaken;
            },
            sortTask($event, data)
            {
                // Deselect all tasks if we're sorting
                this.selectedTasks = [];

                // Don't sort if it was dropped on itself
                if ($event.id == data.index)
                    return;

                const container = this[$event.original];
                const task = container[$event.id];

                // Remove from original position
                container.splice($event.id, 1);

                // Place at new position
                container.splice(data.index, 0, task);

                // Redraw the map
                this.$nextTick(() => {
                    this.fitMap();
                });

                this.changed = true;
            },
            dropContract($event, data){
                // If the user started dragging a contract that wasn't selected
                if (this.$parent.selectedContracts.indexOf($event.id) == -1) {
                    const contractId = this.$parent.contracts[$event.id].id;
                    const ref = 'contract.' + contractId;
                    // Register it as selected
                    this.$parent.$refs[ref][0].selectContract();
                }

                let contracts = [];
                let contractTypes = {};

                this.$parent.selectedContracts.forEach((contract, index) => {
                    // Remove planned contracts
                    if (this.$parent.contracts[contract].status != 'unplanned') {
                        this.$parent.selectedContracts.splice(index, 1);
                    }
                    // Get the id of the unplanned contract
                    else {
                        contracts.push(this.$parent.contracts[contract].id);
                        contractTypes[this.$parent.contracts[contract].id] = this.$parent.contracts[contract].type;
                    }
                });

                // seems like none are left
                if (this.$parent.selectedContracts.length == 0) {
                    this.$message({
                        message: 'Uw selectie is leeg omdat de geselecteerde contract(en) al aangewezen zijn.',
                        type: 'warning',
                        showClose: true
                    });
                    return;
                }

                // Start loader
                let loadingInstance = Loading.service({
                    target: 'body',
                    text: 'Bon word geplaatst bij ' + this.driver.plate,
                    lock: true
                });

                // Send the save request
                this.$http
                        .post('/' + this.$parent.dateFormat + '/contracts', {
                            driver: this.driver.id,
                            action: 'add',
                            contracts: contractTypes
                        })
                        .then((res) => {
                            this.$message({
                                message: res.data.message,
                                type: 'success',
                                showClose: true,
                                duration: 5000
                            });
                            // Update contracts
                            this.$parent.selectedContracts.forEach((index) => {
                                // Update contract
                                this.$parent.contracts[index].status = 'planned';
                                this.$parent.contracts[index].slot = 'In te plannen';
                                this.$parent.contracts[index].drivers[this.$parent.contracts[index].type] = this.driver.id;

                                const titleSuffix = (this.$parent.contracts[index].duplicate_number > 1) ? ' (kopie '+ String(this.$parent.contracts[index].duplicate_number-1) +')' : '';

                                // Store locally
                                this.planned.push({
                                    id: res.data.meta[this.$parent.contracts[index].id],
                                    label: '?',
                                    oldSlot: 'planned',
                                    slot: 'planned',
                                    oldIndex: null,
                                    title: this.$parent.contracts[index].location.name + titleSuffix,
                                    status: 'planned',
                                    type: 'contract',
                                    activity: (this.$parent.contracts[index].type == 'delivery') ? 145541 : 145542,
                                    description: 'BONNUMMER: ' + this.$parent.contracts[index].number + titleSuffix,
                                    address: this.$parent.contracts[index].location.street + ' ' + this.$parent.contracts[index].location.postal + ' ' + this.$parent.contracts[index].location.country,
                                    location: this.$parent.contracts[index].location.coordinates,
                                    show: false,
                                    center: this.$parent.contracts[index].location.coordinates,
                                    meta: {
                                        id: this.$parent.contracts[index].id,
                                        number: this.$parent.contracts[index].number,
                                        parentIndex: index
                                    }
                                });

                            });

                            // Reset selection and update contract's styling
                            const firstContract = contracts[0];
                            this.$parent.selectedContracts = [];
                            this.$parent.$refs['contract.' + firstContract][0].updateStyling();
                        })
                        .catch((res) => {
                            this.$message.error('Oeps, er ging iets mis met de server.');
                        })
                        .finally(() => {
                            loadingInstance.close();
                        });
            },
            closeDialog(){
                this.selectedTasks = [];
                if (this.changed) {
                    // Send request to server to update contract with new state
                    let loadingInstance = Loading.service({
                        target: 'body',
                        text: 'Chauffeur "' + this.driver.plate + '" staat in de wachtrij om te synchroniseren.',
                        lock: true
                    });

                    this.$http
                            .post('/' + this.$parent.dateFormat + '/driver/' + this.driver.id, {
                                schedule: {
                                    created: this.planned,
                                    morning: this.morning,
                                    afternoon: this.afternoon,
                                    early: this.early,
                                    evening: this.evening
                                }
                            })
                            .then((res) => {
                                this.$message({
                                    message: res.data.message,
                                    type: 'success',
                                    showClose: true,
                                    duration: 5000
                                });
                            })
                            .catch((res) => {
                                this.$message.error('Oeps, er ging iets mis met de server.');
                            })
                            .finally(() => {
                                loadingInstance.close();
                            });

                    this.changed = false;
                }
            },
            getSlotTranslation(slot)
            {
                switch (slot) {
                    case 'planned':
                        return 'In te plannen';
                    case 'early':
                        return 'Vroege ochtend';
                    case 'morning':
                        return 'Ochtend';
                    case 'afternoon':
                        return 'Middag';
                    case 'evening':
                        return 'Avond';
                }
            },
            resetSelected()
            {
                this.selectedTasks = [];
            }
        }
    }
</script>